.right-sidebar {
  float: right;
  width: 280px;
  margin: 40px 0px 30px 24px;
  font-size: 20px;
  
}

.widget {
  margin-top: 20px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%), -3px -3px 10px rgb(0 0 0 / 5%);
}

.widget h4 {
  background-color: #f4ca0e;
  margin: 0;
  padding: 15px;
  border: solid 1px black;
  font-size: 13px;
}

.right-sidebar-div-1 {
  background-color: #3AAFA9;
  padding: 15px;
  border: solid 1px black;
}

.right-sidebar-div-1 .right-sidebar-div-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.right-sidebar-div-1 .right-sidebar-div-2 p {
  padding-left: 10px;
  margin-top: 0;
  font-size: 13px;
}

.widget-tags {
  margin-top: 40px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%), -3px -3px 10px rgb(0 0 0 / 5%);
}

.widget-tags h4 {
  margin: 0;
  padding: 15px;
  background-color: #f4ca0e;
  border: solid 1px #e3e6e8;
  font-size: 13px;
}

.widget-tags-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px #e3e6e8;
  padding: 10px;
}

.widget-tags-div p {
  padding: 5px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
  font-size: 13px;
}

@media screen and (max-width: 1020px) {
  .right-sidebar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .right-sidebar {
    width: 100%;
    margin: 20px 0;
  }

  .widget,
  .widget-tags {
    margin-top: 20px;
  }

  .widget h4,
  .widget-tags h4 {
    padding: 10px;
    font-size: 12px;
  }

  .right-sidebar-div-1,
  .widget-tags-div {
    padding: 10px;
  }

  .right-sidebar-div-1 .right-sidebar-div-2 p,
  .widget-tags-div p {
    font-size: 12px;
  }
}
