/* General styles */
.homepage {
  font-family: Arial, sans-serif;
  padding-top: 7%;
}

.banner {
  background-image: url('https://i.ibb.co/W62rmSq/tamanna-rumee-Ft-JEat-S7-Q4-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding: 80px;
  animation: fadeIn 2.5s ease-in-out;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .banner {
    padding: 40px;
  }
  .banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  animation: fadeIn 5s ease-in-out;
}

.article-content {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.article-content h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}

.article-image {
  flex: 1;
  text-align: center;
  
}

.article-image img {
  max-width: 100%;
  height: auto;
  display: block;
  float: right; /* Float the image to the right */
  margin-left: 20px; /* Add some margin for spacing */
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .homepage {
    padding-top: 20%;
  }
  .banner h1 {
    font-size: 28px;
  }
  .article {
    flex-direction: column;
    padding: 10px;
  }
  .article-content, .article-image {
    flex: none;
    width: 100%;
  }
}

/* Trending tech styles */
.trending-tech {
  margin-top: 50px;
  text-align: center;
}

.tech-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px 0;
}

.tech-container::-webkit-scrollbar {
  display: none;
}

.tech {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.tech h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tech p {
  font-size: 16px;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .tech-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tech {
    margin-bottom: 20px;
  }
}

/* Media Query for screens smaller than 480px */
@media (max-width: 480px) {
  .banner h1 {
    font-size: 24px;
  }
  .article-content h2 {
    font-size: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
