.container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

.accordion-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.accordion {
  flex: 1;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  overflow: hidden;
  min-width: 300px;
}

.accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background-color: #f0f0f0;
}

.accordion-header:hover {
  background-color: #ffc107;
}

@media (max-width: 768px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }

  .accordion {
    margin-right: 0;
    min-width: auto;
    flex-basis: 100%;
  }

  .accordion-header:hover {
    background-color: #ffc107;
  }
}

@media (min-width: 1200px) {
  .accordion-container {
    display: block;
  }
}
