.footer {
  background: #3AAFA9;
  text-align: center;
  padding: .5rem 0; /* Reduced padding */
  position: relative;
  font-weight: bold;
  color: #fff;
  border-left: solid 3px #ef8236;
}
.credit {
  font-size: 0.9rem;
}

.credit span {
  font-weight: bold;
}

.contact-form {
  margin-top: .5rem; /* Reduced margin */
  margin-bottom: .5rem; /* Reduced margin */
  display: flex;
  justify-content: center;
}

.contact-form form {
  width: 100%;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.5rem; /* Reduced margin */
  margin-bottom: 0.5rem; /* Reduced margin */
  width: 100%;
  padding: 1rem;
  font-size: .7rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #272c32;
  color: #fff;
}

.contact-form input[type="submit"] {
  margin-top: 0.5rem; /* Reduced margin */
  margin-bottom: 0.5rem; /* Reduced margin */
  cursor: pointer;
  background-color: #f9690e;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff7e41;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .credit {
      font-size: 0.8rem;
  }

  .contact-form input,
  .contact-form textarea {
      font-size: 0.6rem;
  }

  .contact-form input[type="submit"] {
      font-size: 0.6rem;
  }
}
